*{
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: rgb(9, 20, 40);
}

.container{
    background-color: aqua;
    border-radius: 1rem;
    padding: 2rem;
    min-height:45vh;
    min-width: 45vh;
}

form{
    margin : 2rem 0 1rem 0;
}

form input,select,button{
    width:100%;
    border:none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border:1px solid skyblue;
    padding-left:0.5rem;
    height:2rem;
    font-size: 1rem;
}

.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top : 1rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top : 1.3rem;
}

.select-container>img{
    max-width:1.75rem;
}

.select-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:6rem;
    border: 2px solid skyblue;
    border-radius: 0.5rem;
    padding:0.2rem;
}

.select-container select{
    background-color: aqua;
    font-size: 1rem;
    cursor: pointer;
}

.msg{
    margin: 2rem 0 2rem 0;
    border: 2px solid skyblue;
    border-radius:0.5rem;
    padding:0.8rem;
}

form button{
    height:3rem;
    background-color: #a94e7d;
    color:#fff;
    font-size: 1.15rem;
    cursor:pointer;
}
